.FavAndShareButtons {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 10px;
  top: 4px;
  z-index: 98888;
}

.FavAndShareButtons button {
  background-color: transparent;
  border: none;
  margin: 6px;
  padding: 4px;
  z-index: 9999;
}

.FavAndShareButtons button:hover {
  border: 1px solid tomato;
  border-radius: 10px;
  margin: 5px;
}

