@media screen and ( min-width : 1201px ) {

  .mealsPage, .drinksPage {
    align-items: center;
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    padding-top: 400px;
    position: relative;
  }

  .mealsPage img, .drinksPage img {
    border: #ffc229 1px solid;
    border-radius: 50px;
    height: 400px;
    object-fit: cover;
    position: absolute;
    top: -25px;
    width: 100%;
    z-index: 0;
  }

  .drinksPage img {
    object-position: 0 -400px;
  }

  .drinksPage img:hover {
    animation: slideDown 15s linear infinite;
  }

  @keyframes slideDown {

    0% {
      object-position: 0 -40px;
    }

    50% {
      object-position: 0 -800px;
    }

    100% {
      object-position: 0 -40px;
    }
  }

  .titleAndCategor {
    background-color: #ffc229;
    box-shadow: 0 5px 10px 2px #ffc229dc;
    height: 55px;
    position: absolute;
    top: -45px;
    width: 100%;
    z-index: 7777;
  }

  .titleRC {
    font-size: 25px;
    margin-left: 10px;
    margin-top: 5px;
  }

  .categoryRC {
    text-align: center;
    width: 100%;
  }

  .categoryRC:before {
    content: 'Category: ';
    margin-right: 5px;
  }

  .recipe-ingredients {
    border: 1px solid #fe724c;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 0 5px 20px 0;
    min-height: 400px;
    padding: 20px;
    width: 40%;
  }

  .checkIngred {
    margin: 8px;
  }

  .checkIngred:disabled {
    opacity: 0;
  }

  .labelIngredi:hover {
    background-color: #fe734c;
    border-radius: 4px;
    color: aliceblue;
  }

  .falseRC {
    color: rgba(240, 248, 255, 0.226);
    position: absolute;
    right: 0;
  }

  .instrucRC {
    background-color: #ffc229;
    border: 1px solid #ffc229;
    border-radius: 10px;
    display: inline-block;
    font-style: italic;
    margin-left: 5px;
    min-height: 400px;
    padding: 20px;
    text-align: justify;
    white-space: pre-wrap;
    width: 40%;
  }

  .instrucRC:after {
    content: '.';
    margin-right: 0.5em; /* Espaço extra após o ponto */
  }
}

@media screen and ( max-width : 640px ) {

  .mealsPage, .drinksPage {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 190px;
    position: relative;
  }

  .mealsPage img, .drinksPage img {
    height: 200px;
    object-fit: cover;
    position: absolute;
    top: -25px;
    width: 100%;
    z-index: 0;
  }

  .titleAndCategor {
    background-color: #ffc229;
    box-shadow: 0 5px 10px 2px #ffc229dc;
    height: 55px;
    position: absolute;
    top: -45px;
    width: 100%;
    z-index: 7777;
  }

  .titleRC {
    font-size: 25px;
    margin-left: 10px;
    margin-top: 5px;
  }

  .categoryRC {
    text-align: center;
    width: 100%;
  }

  .categoryRC:before {
    content: 'Category: ';
    margin-right: 5px;
  }

  .recipe-ingredients {
    border: 1px solid #fe724c;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 0 0 20px;
    padding: 20px;
    width: 90vw;
  }

  .checkIngred {
    margin: 8px;
  }

  .checkIngred:disabled {
    opacity: 0;
  }

  .labelIngredi:hover {
    background-color: #fe734c;
    border-radius: 4px;
    color: aliceblue;
  }

  .falseRC {
    color: rgba(240, 248, 255, 0.226);
    position: absolute;
    right: 0;
  }

  .instrucRC {
    background-color: #ffc229;
    border-radius: 10px;
    display: inline-block;
    font-style: italic;
    padding: 20px;
    text-align: justify;
    white-space: pre-wrap;
    width: 90%;
  }

  .instrucRC:after {
    content: '.';
    margin-right: 0.5em; /* Espaço extra após o ponto */
  }
}

@media screen and ( max-width : 1200px ) {

  .mealsPage, .drinksPage {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 190px;
    position: relative;
  }

  .mealsPage img, .drinksPage img {
    height: 200px;
    object-fit: cover;
    position: absolute;
    top: -25px;
    width: 100%;
    z-index: 0;
  }

  .titleAndCategor {
    background-color: #ffc229;
    box-shadow: 0 5px 10px 2px #ffc229dc;
    height: 55px;
    position: absolute;
    top: -45px;
    width: 100%;
    z-index: 7777;
  }

  .titleRC {
    font-size: 25px;
    margin-left: 10px;
    margin-top: 5px;
  }

  .categoryRC {
    text-align: center;
    width: 100%;
  }

  .categoryRC:before {
    content: 'Category: ';
    margin-right: 5px;
  }

  .recipe-ingredients {
    border: 1px solid #fe724c;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 0 0 20px;
    padding: 20px;
    width: 90vw;
  }

  .checkIngred {
    margin: 8px;
  }

  .checkIngred:disabled {
    opacity: 0;
  }

  .labelIngredi:hover {
    background-color: #fe734c;
    border-radius: 4px;
    color: aliceblue;
  }

  .falseRC {
    color: rgba(240, 248, 255, 0.226);
    position: absolute;
    right: 0;
  }

  .instrucRC {
    background-color: #ffc229;
    border-radius: 10px;
    display: inline-block;
    font-style: italic;
    padding: 20px;
    text-align: justify;
    white-space: pre-wrap;
    width: 90%;
  }

  .instrucRC:after {
    content: '.';
    margin-right: 0.5em; /* Espaço extra após o ponto */
  }
}
