.mainRecipeDetails {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  overflow: auto;
  padding: 44px 0;
  width: 100vw;
}

.bodyRD {
  height: 100%;
  width: 100%;
}
