.mealsPage img, .drinksPage img {
  height: 100px;
  width: 100px;
}

.mainRecipeDetails {
  height: 100vh;
  overflow: auto;
  position: relative;
  width: 100vw;
}

.start-recipe-btn {
  bottom: 0;
  position: fixed;
  width: 100vw;
  z-index: 99999;
}

.buttonsFavAndShare {
  position: absolute;
  right: 10px;
  top: 10px;
}

.slc {
  box-sizing: border-box;
  margin: 0 auto 50px;
  max-height: 600px;
  overflow: auto;
  overflow-y: hidden;
  width: 100vw;
}
