.carousel-container {
  align-items: center;
  display: flex;
  height: 200px;
  margin: 40px 0 10px;
  overflow-x: scroll;
  padding: 10px;
  width: 100%;
}

.carousel-container::-webkit-scrollbar {
  width: 12px;
}

.carousel-container::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 20px;
}

.carousel-container::-webkit-scrollbar-thumb {
  background-color: #fe724c;
  border-radius: 20px;
}
